/* body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #777;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
} */
.header_section {
    width: 100%;
    position: fixed;
    background-color: #f8f9fa!important;
    left: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.26);
}
.navHeader{
    background-color: #fff;
    padding: 14px 0;
    transition: all 0.2s ease-in-out;
}

#navbar{
display:flex;
justify-content: space-between;
}

#navbarNav{
    flex-grow:unset;
}
.hireBtn{
background-color: #111;
    border-radius: 30px;
    font-size: 12px;
    text-transform: uppercase;
    color:white !important;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
}

.hireBtn:focus, .hireBtn:hover {
    color: #fff;
     border-radius: 0;
     transition: all 0.5s;
}

.profileSection {
    /* background-image: url("../images/profileBackground.jpg"); */
    /* background-position: center center; */
    /* background-attachment: scroll;means its not fixed */
    /* background-size:cover; */
    /* background-repeat: no-repeat; */
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    z-index: 1;
    /* border:1px solid black; */
}

/*parallax window styling--adds background as well*/
.parallax-window {
    min-height: 500px;
    background: transparent;
}
.parallax-mirror{
    height:100% !important;
    margin-top:-50px !important;
}
/*************************/

.profile_inner{
    display:flex;
    justify-content: center;
}

.profile_info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
    min-height: 550px;
    margin-bottom: -50px;
}

.profile_image {
    background-image: url("../images/mainguy1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 300px;
    height: 300px;
    margin-right: 30px;
    border: 10px solid #fff;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.15);
}

.servicesSection,.portfolioSection,.workTogetherSection{
    /* background-image: url("../images/profileBackground.jpg"); */
    background-color: #f7f7f7;
    background-position: center center;
    background-attachment: scroll;/*means its not fixed*/
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 20em; */
    position: relative;
    /* z-index: 1; */
    box-shadow: 1px 3px 2px 3px rgba(0, 0, 0, 0.26);
    padding:3em;
}

.servicesSection{
    
}


#serviceTitle{
    text-align:center;
}

#portfolioHome{
    background-color:white;
}
#portfolioTitle{
    text-align:center;
}
#portfolioPages{
text-align: center;
padding-bottom:2em;
}

#portfolioPages a{
    margin-right:1em;
}

.portfolioTable{
    background-color: #f7f7f7;
}
.carouselMain{
    /* border:1px solid black; */
    height:30em;
    background-color:grey;
}

.webDesignImg{
    height:10%;
    width:10% !important;

}

.individ_carousal{
/* border:1px solid black; */
display:flex;
flex-direction: column;
align-items:center;
padding:1.5em 0;
border-radius:100px;
transition: all 0.3s ease-in-out;
}

.individ_carousal img{
    padding-bottom:1em;
}
.individ_carousal p{
    text-align: center;
}

.individ_carousal:hover {
    cursor: pointer;
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
  }


.owl-theme{
/* border:1px solid black; */
}

.owl-prev,
.owl-next {
position: absolute;
top: 50%;
margin-bottom: 10px; 
transform: translate(0%,-50%);
}
.owl-prev {
left: -2em;
}
.owl-next {
right: -2em;
}

.owl-carousel-outer{
display:flex !important;
align-items:center;
}

.iconStyle img{
    width:100%;
    height:100%
}

#portfolioPages a.active {
	color: #444;
	transition: all 0.5s ease-in-out;
    text-decoration: line-through;
}

.projectGrid{
    /* padding-right:1px;
    padding-left:1px;
    padding-top:1px; */
    width:100%;
    padding:1px !important;
}

.rowCustomStyle{
    margin-left:0;
    margin-right:0;
}

.footerStyle{
    background-color:#000000;
    padding:30px 0px;
}
.leftFooterSection{
    float:left;
}
.rightFooterSection{
    float:right;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7); */
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display:none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:10000;
}
#return-to-top i {
    color:black;
    /* background-color:white; */
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    /* background: rgba(0, 0, 0, 0.9); */
}
#return-to-top:hover i {
    color:black;
    top: 5px;
}

.grid-item { width: 33.33%;}
.grid-item--width2 { width: 33.333%;}

.iconStyle{
    height:17em;
    /* border:1px solid black; */
    display:flex;
    justify-content: center;
    align-items: center;
    padding:.1em;
    position:relative;
}

/* .grid-item:hover,.grid-item .iconStyle:hover{
    cursor: pointer;
    background-color:white;
    opacity:.5;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 250ms cubic-bezier(1, -0.6, 0.57, -0.15) 0s;
    transition: all 250ms cubic-bezier(1, -0.6, 0.57, -0.15) 0s;
} */
.overlay{
position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  #4a9699;
}

.iconStyle:hover .overlay {
    cursor: pointer;
    opacity: 1;
  }

  .info {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  @media (max-width: 767px){
  .profile_info{
      display:flex;
      align-items:center;
  }
  .profile_image{
  }
}

@media (max-width: 520px){
    .profile_info{
        display:flex;
        align-items:center;
    }

    .profile_inner{
        display:flex;
        flex-direction:column;
        text-align:center;
        align-items: center;
    }
    .profile_image{
      margin:0;
    }
  }